## MySQL example ORM (Object Relational Mapping)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv, find_dotenv
import os

In [10]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import (
#                             Session, 
                            sessionmaker
                           )
from sqlalchemy import select, Column, Integer, String, Sequence

In [3]:
_ = load_dotenv(find_dotenv())

In [6]:
connect_string = os.getenv("event_count_event_type_database_connect")

In [7]:
# an Engine, which the Session will use for connection
# resources
engine = create_engine(url=connect_string)

In [8]:
Base = declarative_base()

In [11]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, Sequence('user_id_seq'), primary_key=True)
    name = Column(String(50))
    fullname = Column(String(50))
    nickname = Column(String(50))

    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (
                                self.name, self.fullname, self.nickname)

In [12]:
print(User.__table__)

users

In [13]:
User.__table__

Table('users', MetaData(), Column('id', Integer(), table=<users>, primary_key=True, nullable=False, default=Sequence('user_id_seq', metadata=MetaData())), Column('name', String(length=50), table=<users>), Column('fullname', String(length=50), table=<users>), Column('nickname', String(length=50), table=<users>), schema=None)

In [14]:
Base.metadata.create_all(engine)

In [15]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [16]:
ed_user.name

'ed'

In [17]:
ed_user.nickname

'edsnickname'

In [18]:
ed_user.id

In [19]:
Session = sessionmaker(bind=engine)
# session = Session()

### Add new objects

In [20]:
# create session and add objects
with Session() as session:
    new_user = User(name='jms', fullname='James Twose', nickname='itsamejms')
    session.add(new_user)
    session.commit()

### Pull all data and save in a pandas data frame

In [21]:
with Session() as session:
    new_query = session.query(User)
    df = pd.read_sql(new_query.statement, new_query.session.bind)

In [22]:
df

   id   name         fullname     nickname
0   1     ed         Ed Jones  edsnickname
1   2  wendy   Wendy Williams        windy
2   3   mary    Mary Contrary         mary
3   4   fred  Fred Flintstone       freddy
4   5    jms      James Twose    itsamejms
5   6    jms      James Twose    itsamejms

### Pull filtered data and save in a pandas data frame

In [23]:
with Session() as session:
    new_filter_query = session.query(User).filter(User.name == 'jms')
    df = pd.read_sql(new_filter_query.statement, new_filter_query.session.bind)

In [24]:
df

   id name     fullname   nickname
0   5  jms  James Twose  itsamejms
1   6  jms  James Twose  itsamejms

In [25]:
new_filter_query.statement

In [ ]:
stop!

In [ ]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')
session.add(ed_user)

In [ ]:
our_user = session.query(User).filter_by(name='ed').first() 
our_user

In [ ]:
session.add_all([
     User(name='wendy', fullname='Wendy Williams', nickname='windy'),
     User(name='mary', fullname='Mary Contrary', nickname='mary'),
     User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [ ]:
session.query(User).filter_by(name='wendy').first()

In [ ]:
session.query(User).all()

In [ ]:
session.commit()