## MySQL example ORM (Object Relational Mapping)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv, find_dotenv
import os

In [16]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy import select

In [6]:
_ = load_dotenv(find_dotenv())

In [28]:
connect_string = f"mysql+pymysql://{os.getenv('rfram_user')}:@{os.getenv('rfram_host')}/Rfam"

In [29]:
# an Engine, which the Session will use for connection
# resources
engine = create_engine(url=connect_string)

In [33]:
# username = ''
# password = ''
# host = 'localhost'
# port = 3306
# DB_NAME = 'db_name'

# engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}")

# with engine.connect() as conn:
#     # Do not substitute user-supplied database names here.
#     conn.execute(f"CREATE DATABASE IF NOT EXISTS {DB_NAME}")

In [34]:
# import the mysql client for python
import pymysql

In [35]:
# Create a connection object

databaseServerIP            = "127.0.0.1"  # IP address of the MySQL database server
databaseUserName            = "root"       # User name of the database server
databaseUserPassword        = ""           # Password for the database user

newDatabaseName             = "NewDatabase" # Name of the database that is to be created
charSet                     = "utf8mb4"     # Character set
cusrorType                  = pymysql.cursors.DictCursor

connectionInstance   = pymysql.connect(host=databaseServerIP, user=databaseUserName, password=databaseUserPassword,
                                       charset=charSet,cursorclass=cusrorType)

OperationalError: (2003, "Can't connect to MySQL server on '127.0.0.1' ([Errno 61] Connection refused)")

In [ ]:
try:
    # Create a cursor object
    cursorInstance = connectionInstance.cursor()                                    

    # SQL Statement to create a database
    sqlStatement = "CREATE DATABASE "+newDatabaseName  


    # Execute the create database SQL statment through the cursor instance
    cursorInstance.execute(sqlStatement)

    # SQL query string
    sqlQuery = "SHOW DATABASES"
 
    # Execute the sqlQuery
    cursorInstance.execute(sqlQuery)

    #Fetch all the rows
    databaseList = cursorInsatnce.fetchall()

    for datatbase in databaseList:
        print(datatbase)

except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connectionInstance.close()